* {
  margin: 0;
  padding: 0;
}

body {
  color: orange;
}

.App {
  text-align: center;
  height: 150vh;
  font-size: 20px;
  font-weight: 100;
  word-spacing: 1px;
  line-height: 1.45em;
  font-family: "Ubuntu", "Sharp Sans No1", Sans-serif;
  background-color: whitesmoke;
  background-size: cover;
  background-position: top;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: orange;
}

.App-link {
  color: #111312;
}

.main-page {
  padding-top: 20px;
}

.home-nav {
  margin-top: -20px;
  height: 50;
  background-color: #312e2e;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 200px;
  font-size: 18px;
}

.sign-up {
  
  padding-top: 5px;
  font-size: 40px;
  font-weight: 200;
}

.title-signin{
  margin-bottom: 60px;
}

.signup-form {
  padding-top: 60px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
}

.signin-onUp {
  font-size: 20px;
  font-weight: 100;
}

.home-page {
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 30px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5em;
  margin-top: -180px;
  color: antiquewhite;
}

 .container{
   margin:50 px;
   height:200px;
}

.tender_box{
  margin-top: 25px;
  margin-left: 195px;
}

.tender_gen{
  margin-left: 280px;
  margin-top: 50px;
  text-align: left;
}

.tender-id{
  margin-left: -199px;
  margin-bottom: 20px;
}



.guidelines_heading{
  text-align: center;
}

.guidelines_body{
  margin-left: 210px;
  margin-top: 20px;
}

li{
  font-size: 20px;
}

.aboutUs_h3{
  text-align: center;
  margin-top: 30px;
}

.aboutUs_div{
  margin-top: 20px;
  font-size: 20px;
}

#home-h1{
  color: antiquewhite;
  margin-top: -120px;
}

#home-h3{
  color:antiquewhite;
  margin-top: -25px;
}

#dashboard-h1{
  color: white;
  margin-top: -190px;
}


.cheat-arrange{
  margin: -20px;
}

.home-body{
  margin-top: 20px;
  margin-left: -50px;
  padding-left: 50px;
  font-size: small;
}

.home-footer{
  margin-top: 300px;
}

.request_div{
  margin-left: 230px;
  margin-top: 40px;
  text-align: left; 
}

/* .request-table{
  margin-left: -15px;
} */

/* .table-footer{
  align-items: center;
} */

h1{
  align-items: center;
  color : orange
}

img{
  margin-bottom: -420px; 
  margin-left: 800px;
  margin-top: 60px;
  /* align-items: right; */
}

#tender-status{
  margin-left: -290px;
}

.table-content{
  font-size:15px;
}

.tender-status{
  margin-left: -100px;
}