* {
  margin: 0;
  padding: 0;
}

body {
  color: orange;
}

.App {
  text-align: center;
  height: 150vh;
  font-size: 20px;
  font-weight: 100;
  word-spacing: 1px;
  line-height: 1.45em;
  font-family: "Ubuntu", "Sharp Sans No1", Sans-serif;
  background-color: whitesmoke;
  background-size: cover;
  background-position: top;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: orange;
}

.App-link {
  color: #111312;
}

.main-page {
  padding-top: 20px;
}

.home-nav {
  margin-top: -20px;
  height: 65px;
  background-color: #312e2e;

}




.sign-up {
  
  padding-top: -1px;
  font-size: 40px;
  font-weight: 200;
}

.title-signin{
  margin-bottom: 60px;
}

.signup-form {
  padding-top: 60px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
}

.signin-onUp {
  font-size: 20px;
  font-weight: 100;
}

.home-page {
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 30px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5em;
  margin-top: -180px;
  color: antiquewhite;
}

 .container{
   margin:50 px;
   height:200px;
}



.tender_gen{
  margin-top: -20px;
  padding-left:100px;
  text-align: left;
}

.tender-id{
  margin-left: -199px;
  margin-bottom: 20px;
}



.guidelines_heading{
  text-align: center;
}

.guidelines_body{
  margin-left: 210px;
  margin-top: 20px;
}

li{
  font-size: 20px;
}

.aboutUs_h3{
  text-align: center;
  margin-top: 30px;
}

.aboutUs_div{
  margin-top: 20px;
  font-size: 20px;
}

#home-h1{
  color: antiquewhite;
  background-color: #312e2e;
  padding-top: 100px;
  padding-left: 350px;
  font-size: 41px;
}

#home-h3{
  color: antiquewhite;
  background-color: #312e2e;
  margin-top: -10px;
  padding-top:20px;
  font-size: 30px;
}




#dashboard-h1{
  color: white;
  margin-top: -190px;
}


.cheat-arrange{
  margin: -20px;
}

.home-body{
  margin-top: 20px;
  margin-left: -50px;
  padding-left: 50px;
  font-size: small;
}

.home-footer{
  margin-top: 50px;
}

.request_div{
  margin-left: 100px;
  margin-top: 0px;
  text-align: left; 
}


h1{
    color : orange;
    text-align:left;
    padding-left: 100px;
}
#h2{
  color : orange;
    text-align:left;
    padding-left: 0px;
}

img{
  margin-bottom: -420px; 
  margin-left: 800px;
  margin-top: 60px;
  /* align-items: right; */
}


.table-content{
  font-size:13px;
  padding-left:100px;
}

.tender-status{
  margin-left: 8px;
}

.tender_box{
 height: 2px;
 padding-left:105px;
  font-size: 14px;
}

.about_h1{
  margin-left: 550px;
  margin-top: 20px;
  margin-bottom: 20px;
}

